/* Navbar.css */
/* 
.navbar-container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Position the navbar fixed at the top */
    /* top: 0; /* Align the navbar to the top of the viewport */
    /* background-color: transparent; /* Set the background color to transparent */
    /* z-index: 1000; /* Set a high z-index to ensure the navbar is always on top */
  
    /* margin-bottom: 80px; */  
  /* } */ 
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    text-decoration: none; /* Remove underline from links */
    color: #222; /* Set text color */
    font-size: 1.2rem; /* Adjust font size */
    padding: 10px 20px; /* Add padding to create clickable area */
    border-radius: 8px; /* Add rounded corners */
    transition: all 0.3s ease; /* Add smooth transition effect */
  }
  
  .nav-links li a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Change background color on hover */
    
  }
  
  .main-screen {
    background-image: "../images/BackGround.jpg";
    text-align: center;
  
    margin-top: 40px; /* Add margin to push down the content below the fixed navbar */
    color: #222; /* Change text color to darker */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 

  }
  
  .main-screen h2 {
    font-size: 2rem;
  }
  
  .main-screen p {
    font-size: 1rem;
  }
  
  .main-screen button {
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(251, 252, 253);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .main-screen button:hover {
    background-color: #0056b3;
  }
  