/* OwnerAddForm.css */

.owner-form-container {
  max-width: 800px; /* Increase the max-width to accommodate two columns */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 0.8); /* Add a faded effect */
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space evenly between columns */
}

/* Wrap each column in a div to apply separate styles */
.column {
  flex: 1; /* Equal width for each column */
}

.owner-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}
/* OwnerAddForm.css */

.register-owner-heading {

  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Center the background image */
  color: rgb(80, 48, 207); /* Set text color */
  text-align: initial; /* Center the text */
  padding: 50px; /* Add padding as needed */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-variant: small-caps;
}
